<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Chamados</title>

    <link href='/css/bootstrap.min.css' rel='stylesheet' />
</head>
<body>
    <div class="container mb-5">
        <h1>Novo Chamados</h1>

        <a href="/chamados" class="btn btn-sm btn-primary">Voltar</a>

        <form action="/chamados/novo" method="post">
            <div class="form-group">
                <label for="">Título</label>
                <input type="text" name="titulo" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Descrição</label>
                <textarea name="descricao" 
                        class="form-control" rows="10"></textarea>     
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        
    </div>
</body>
</html>